# Cross_validation

In [1]:
import numpy as np
import pandas as pd

Importamos el data frame de su correspondiente csv

In [15]:
lk = pd.read_csv('iris_1.csv')
lk['nombre'] = [i for i in range(lk.shape[0])]

In [16]:
lk.shape

(100, 4)

In [17]:
lk.columns

Index(['sepal width (cm)', 'petal width (cm)', 'class', 'nombre'], dtype='object')

Creamos el test y el train extrayendo de forma aleatoria las filas de lk

In [18]:
lk_train = lk.sample(n=80).copy()

In [19]:
lk.head()

   sepal width (cm)  petal width (cm)  class  nombre
0               3.2               1.4      1       0
1               3.2               1.5      1       1
2               3.1               1.5      1       2
3               2.3               1.3      1       3
4               2.8               1.5      1       4

In [21]:
lk_train.head()

    sepal width (cm)  petal width (cm)  class  nombre
86               3.4               2.4      2      86
94               3.3               2.5      2      94
31               2.4               1.0      1      31
37               2.3               1.3      1      37
92               2.7               1.9      2      92

In [23]:
lk_test = lk[~lk['nombre'].isin(lk_train['nombre'])].copy()

Convertimos los datos del dataframe en numpy arrays

In [31]:
X = lk_train[['sepal width (cm)', 'petal width (cm)']].to_numpy()
Y = lk_train['class'].to_numpy()
x = lk_test[['sepal width (cm)', 'petal width (cm)']].to_numpy()
y = lk_test['class'].to_numpy()

In [32]:
print(X.shape, Y.shape,x.shape,y.shape)

(80, 2) (80,) (20, 2) (20,)